name: Deploy to stage

on:
  push:
    branches:
      - "main"

jobs:
  deploy_to_stage_everything:
    runs-on: ubuntu-latest

    steps:
      - name: Create .ssh folder and add private key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: SSH and deploy
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@13.51.178.27 << 'EOF'
            # Load NVM so that node, npm, pm2 become available
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            cd bms/
            git pull origin main
            npm install
            npm run build
            pm2 restart all
          EOF
