name: Deploy to stage

on:
  push:
    branches:
      - "main"

jobs:
  deploy_to_stage_everything:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy
        run: |
          # Save key in a simple file (no .ssh folder)
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key

          # Allow server host
          ssh-keyscan -H 13.51.178.27 >> ~/known_hosts

          # Connect and run commands INSIDE server
          ssh -i ~/ssh_key -o UserKnownHostsFile=~/known_hosts ubuntu@13.51.178.27 << 'EOF'
            cd bms/
            git pull origin main
            npm install
            npm run build
            pm2 restart all
          EOF
