name : Deploy to stage
on : 
  push :
    branches :
      - "main"

jobs :
  deploy_to_stage_everything :
    runs-on : ubuntu-latest
    steps :
      - name : SSH INTO SERVER
        run : |
          echo ${{ secrets.SSH_PRIVATE_KEY }} &> ~/ssh_key
          ssh -i ~/ssh_key ubuntu@13.51.178.27 
          cd bms/ && git pull origin main
          npm install
          npm run build
          pm2 restart all